<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:a4j="http://richfaces.org/a4j"
                xmlns:rich="http://richfaces.org/rich"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"      
                template="/templates/main.xhtml">
    <ui:define name="bodyContent">

       
                    <tr>
                        <td>
                          HOLA
                        </td>    
                        <td>
                           Indice de la aplicacion
                        </td>
                    </tr>
                        
                    
    </ui:define>    
</ui:composition>
