<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:a4j="http://richfaces.org/a4j"
                xmlns:rich="http://richfaces.org/rich"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"      
                template="/templates/main.xhtml">
    <ui:define name="bodyContent">
        <h:form id="formNuevoEquipo" onsubmit="document.body.style.cursor = 'wait'">
            <rich:panel header="Nuevo Equipo de Fútbol" style="width:430px" >
                <h:panelGrid columns="3" cellpadding="5" cellspacing="3" border="0">
                    <h:outputLabel for="input1" value="Identificador" style=" font-weight: bolder" />
                    <h:inputText id="input1" value="#{equipoBean.id}"  />
                    <h:message id="input1message" for="input1" style="color: #B94A48; font-weight: bolder" />

                    <h:outputLabel for="input2" value="Nombre" style=" font-weight: bolder"/>
                    <h:inputText id="input2" value="#{equipoBean.nombre}"  />
                    <h:message id="input2message" for="input2" style="color: #B94A48; font-weight: bolder" />

                    <h:outputLabel for="input3" value="Presupuesto" style=" font-weight: bolder" />
                    <h:inputText id="input3" value="#{equipoBean.presupuesto}" />
                    <h:message id="input3message" for="input3" style="color: #B94A48; font-weight: bolder" />

                </h:panelGrid>
                <hr> </hr>
                <h:panelGrid columns="2" cellpadding="5" cellspacing="5"  >
                    <h:commandButton id="botonGuardarEquipo" value="Guardar" action="#{equipoBean.guardarEquipo()}"  />
                    <h:commandButton id="botonCancelarGuardarEquipo" value="Cancelar" action="to-verEquipos" immediate="true" />
                    

                </h:panelGrid>
            </rich:panel>
        </h:form>
        
        



    </ui:define>    
</ui:composition>
