<ui:composition  xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html"
                 xmlns:f="http://java.sun.com/jsf/core" xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:a4j="http://richfaces.org/a4j"
                 xmlns:rich="http://richfaces.org/rich" xmlns:fn="http://java.sun.com/jsp/jstl/functions"     
                 template="/templates/main.xhtml">
    <ui:define name="bodyContent">
     
        <h:form>
            <rich:panel header="Ver Equipos de Fútbol" style="width:400px" >
            <rich:dataTable value="#{listaEquiposBean.equipos}" var="equ" id="table">
               
               <rich:column sortBy="#{equ.id}" id="ident" sortOrder="#{ordenarEquiposBean.idOrder}"  >
                    <f:facet name="header">
                        <a4j:commandLink value="Ordenar por Id" render="table" action="#{ordenarEquiposBean.ordenarPorId()}" />
                    </f:facet>
                    <h:outputText value="#{equ.id}" />
                </rich:column>
                
                <rich:column sortBy="#{equ.nombre}" id="nombre" sortOrder="#{ordenarEquiposBean.nombreOrder}" >
                    <f:facet name="header">
                        <a4j:commandLink value="Ordenar por nombre" render="table" action="#{ordenarEquiposBean.ordenarPorNombre()}" />
                    </f:facet>
                    <h:outputText value="#{equ.nombre}" />
                </rich:column>
                
                <rich:column sortBy="#{equ.presupuesto}" id="presupuesto" sortOrder="#{ordenarEquiposBean.presupuestoOrder}" >
                    <f:facet name="header">
                        <a4j:commandLink value="Ordenar por presupuesto" render="table" action="#{ordenarEquiposBean.ordenarPorPresupuesto()}" />
                    </f:facet>
                    <h:outputText value="#{equ.presupuesto}" />
                </rich:column>
            
            </rich:dataTable>
           </rich:panel>
        </h:form>
         <h:outputLabel  value="#{flash.introOk}" style=" font-weight: bolder " />


       
    </ui:define>    
</ui:composition>
