/* 800px - An open source xhtml/css website template by Andreas 
Viklund - http://andreasviklund.com . Free to use in any way and 
for any purpose as long as the proper credits are given to the 
original designer.

Version: 1.0, March 29, 2006 */

/******** General tags ********/
body{
    font:76% Verdana,Tahoma,Arial,sans-serif;
    color:#404040;
    line-height:1.2em;
    margin:0 auto;
    padding:0;
    background-color: #DDF9F8;
}

a{
    text-decoration:none;
    color:#00344d;
    font-weight:bold;
}

a:hover{text-decoration:underline;}
a img{border:0;}
p{margin:0 0 18px 10px;}
ul,ol,dl{font-size:1em; margin:2px 0 16px 16px;}
li {margin: 0px 0px 10px 0px;}
ul ul,ol ol{margin:4px 0 4px 35px;}
th {text-align:center; border:1px dotted #dadada;}


h1{
    font-size:4.2em;
    letter-spacing:-5px;
    color:#00225A;
    alignment-adjust:central;
    text-align: center;
    
    
}

h1 a{text-transform:none; color:#00344d;}

h2{
    font-size:1.4em;
    color:#00344d;
    border-bottom:4px solid #dadada;
    padding:0 2px 2px 5px;
    margin:0 0 10px 0;
    letter-spacing:-1px;
}

h3{
    font-size:1.2em;
    font-weight:bold;
    color:#00344d;
    border-bottom:1px solid #dadada;
    margin:10px 0 8px 0;
    padding:1px 2px 2px 3px;
}

blockquote{
    font-size:0.9em;
    border:1px solid #dadada;
    margin:20px 10px;
    padding:8px;
}

/******** Main wrap ********/
#wrap{
    color:#404040;
    width:760px;
    margin:10px auto;
    padding:0;
}

#header{margin:0;}

#toplinks{text-align:right; padding:5px 2px 2px 3px;}

#slogan{
    font-size:1.5em;
    color:#808080;
    font-weight:bold;
    letter-spacing:-1px;
    margin:15px 0px 20px 35px;
    line-height:1.2em;
}
#tablebottom{
    border: 1.5em;
    padding: 2;
    
    
}

/******** sidebar ********/
#sidebar{
    float:left;
    width:130px;
    margin:0 12px 0 0;
    padding:0;
}

#sidebar ul{
    list-style:none;
    font-size:0.9em;
    margin:0;
    padding:0 0 15px 10px;
}

#sidebar li{
    list-style:none;
    margin:0 0 1px 0;
    padding:0;
}

#sidebar li a{
    font-size:1.1em;
    font-weight:bold;
    padding:2px;
}

#sidebar ul ul{
    margin:4px 0 3px 15px;
    line-height:1.2em;
    padding:0;
}

#sidebar ul ul li a{font-weight:normal;}
#sidebar h2{margin:3px 0px 8px 0px;}

/******** Content variations ********/
#content{
    line-height:1.5em;
    width:600px;
    float:right;
    text-align:left;
    margin:0;
    padding:0;
}

#contentalt{
    line-height:1.5em;
    width:600px;
    float:left;
    text-align:left;
    padding:0;
    margin-right:20px;
}

#content h3, #contentalt h3{margin:10px 0 8px;}

/******** Footer ********/
#footer{
    clear:both;
    text-align:right;
    color:#808080;
    font-size:0.9em;
    border-top:4px solid #dadada;
    margin:0 auto;
    padding:8px 0;
    line-height:1.6em;
}

#footer p{margin:0; padding:0;}
#footer a{color:#808080;}

/******** Various classes ********/
.box{
    color:#ffffff;
    font-size:0.9em;
    background-color:#ff8e09;
    border:1px solid #c8c8c8;
    line-height:1.3em;
    padding:5px 5px 5px 8px;
}

.box a{color:#f0f0f0;}
.left{float:left; margin:0 15px 4px 0;}
.right{float:right; margin:0 0 4px 15px;}
.textright{text-align:right;}
.readmore{text-align:right; margin:-10px 10px 12px 0;}

.compact{margin: 0 0 0 0;}
.center{text-align:center;}
.blue{color:#00344d;}
.big{font-size:1.3em;}
.small{font-size:0.8em;}
.bold{font-weight:bold;}

.clear{clear:both;}
.hide{display:none;}
.fade{color:#c8c8c8;}
.gray{color:#808080;}

.photo{
    border:1px solid #bababa;
    padding:2px;
    background-color:#ffffff;
    margin:6px 18px 2px 5px;
}

ul.inline li{
    display: inline;
    list-style-type: none;
    padding-right: 15px;
}

ul.unstyled li {
    list-style-type: none;
}

ul.unstyled li.menu-logout {
    margin-top: 20px !important;
}

.error {
    font-weight: bolder;
    color: #B94A48;
}

.ok{
    font-weight: bolder;
    color:#468847
}

.error-block {
    display: block;
    border: 1px solid #EED3D7;
    background-color: #F2DEDE;
    padding: 4px;
}

.ok-block {
    display: block;
    border: 1px solid #d6e9c6;
    background-color: #dff0d8;
    padding: 4px;
}

.rf-p-hdr {
    text-align: center !important;
}