<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:a4j="http://richfaces.org/a4j"
                xmlns:rich="http://richfaces.org/rich"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"      
                template="/templates/main.xhtml">
    <ui:define name="bodyContent">
        <h:form id="formNuevoJugador" onsubmit="document.body.style.cursor = 'wait'">
            <rich:panel header="Nuevo Jugador de Fútbol" style="width:430px" >
                <h:panelGrid columns="3" cellpadding="5" cellspacing="3" border="0">

                    <h:outputLabel for="inputIdJug" value="Identificador" style=" font-weight: bolder" />
                    <h:inputText id="inputIdJug" value="#{jugadorBean.id}"  />
                    <h:message id="inputIdJugmessage" for="inputIdJug" style="color: #B94A48; font-weight: bolder" />

                    <h:outputLabel for="inputNombreJugador" value="Nombre" style=" font-weight: bolder"/>
                    <h:inputText id="inputNombreJugador" value="#{jugadorBean.nombre}"  />
                    <h:message id="inputNombreJugadorMsg" for="inputNombreJugador" style="color: #B94A48; font-weight: bolder" />

                    <h:outputLabel for="inputFecJug" value="Fecha de Nacimiento" style=" font-weight: bolder" />
                    <rich:calendar value="#{jugadorBean.fechaNac}" id="inputFecJug"  datePattern="dd/MM/yyyy"
                                   style="width:200px">
                    </rich:calendar>

                    <h:message id="inputFecJugadorMsg" for="inputFecJug" style="color: #B94A48; font-weight: bolder" />

                </h:panelGrid>
                <hr> </hr>
                <h:panelGrid columns="2" cellpadding="5" cellspacing="5"  >
                    <h:commandButton id="botonGuardarJugador" value="Guardar" action="#{equipoBean.guardarEquipo()}"  />
                    <h:commandButton id="botonCancelarGuardarJugador" value="Cancelar" action="to-verEquipos" immediate="true" />


                </h:panelGrid>
            </rich:panel>
        </h:form>
    </ui:define>    
</ui:composition>
