<ui:composition xmlns="http://www.w3.org/1999/xhtml" 
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html">
    
        <div id="header">
            <table width="100%">
                <tr>
                    <td><h1>Aplicación Futbol</h1></td>
                </tr>
            </table>
        </div>
    
</ui:composition>