<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<f:view
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:ui="http://java.sun.com/jsf/facelets">
    
		<!-- TODO: SALTARNOS LAS PANTALLAS DE ESTA PLANTILLA E IR A LA DE LOGIN SI NO HAY USUARIO EN SESIÓN -->
    
    <html>
        <h:head>
            <title> Aplicación Futbol </title>
              <link href="#{facesContext.externalContext.requestContextPath}/resources/css/styles.css" rel="stylesheet" type="text/css" />
        </h:head>
        <h:body>

          
          
          <ui:insert name="bodyHead">
                <ui:include src="/templates/header.xhtml" />
           </ui:insert>

            <div id="wrap">
                <ui:insert name="bodyMenu">
                    <ui:include src="/templates/usermenu.xhtml" />
                </ui:insert>
                <div id="content">
                    <ui:insert name="bodyContent">
                        Aquí va el contenido
                    </ui:insert>
                    <h:messages id="errorNegocioMessage" globalOnly="true"   style="color: #B94A48; font-weight: bolder"/>
                </div>
            </div>
           

        </h:body>
    </html>
</f:view>