<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:rich="http://richfaces.org/rich"
                xmlns:f="http://java.sun.com/jsf/core">
    <rich:panel id="sidebar" header="Menú principal">
       
       <h:form id="form" onsubmit="document.body.style.cursor='wait'">
            <rich:panelMenu style="width:100px" itemMode="server" groupMode="server" groupExpandedLeftIcon="triangleUp"
                            groupCollapsedLeftIcon="triangleDown" topGroupExpandedRightIcon="chevronUp"
                            topGroupCollapsedRightIcon="chevronDown" itemLeftIcon="disc" >
                <rich:panelMenuGroup label="Equipos">
                    <rich:panelMenuItem label="Nuevo Equipo" name="Item_Nuevo_E" action="to-nuevoEquipo" />
                    <rich:panelMenuItem label="Ver Equipos" name="Item_Ver_E" action="to-verEquipos" immediate="true" />
                </rich:panelMenuGroup>

                <rich:panelMenuGroup label="Jugadores">
                    <rich:panelMenuItem label="Nuevo Jugador" name="Item_Nuevo_J" action="to-nuevoJugador" />
                    <rich:panelMenuItem label="Ver Jugadores" name="Item_Ver_J" action="to-verJugadores" />
                    <rich:panelMenuItem label="Eliminar Jugador" name="Item_eliminar_J" action="to-eliminarJugador" />
                </rich:panelMenuGroup>
                
            </rich:panelMenu>
        </h:form>

    </rich:panel>


</ui:composition>

